.app {
  min-height: 100dvh;
  @media (min-width: $medium-screen) {
    padding: 3rem;
    background-color: $thistle;
  }
}

.header {
  display: flex;
  align-items: center;
  background-color: $celeste;
  padding: 2rem;
  border: 2px solid $slate;
  border-top-left-radius: $layout-radius;
  border-top-right-radius: $layout-radius;

  @media (max-width: $medium-screen) {
    flex-direction: column;
    align-items: center;
  }
}

.home-page {
  background-color: $slate;
  min-height: 40rem;
  padding: 2rem;
  color: white;
}

.search-page {
  background-color: $slate;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $medium-screen) {
    padding: 1rem;
  }
}

.details-page {
}
